body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero {
  background-image: url('salat.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-content a {
  padding: 10px 20px;
  background-color: #ff6a00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.hero-content a:hover {
  background-color: #ff8500;
}
